h1{
  font-family: 'Rammetto One', cursive;
}
h2{
  font-family: 'Signika Negative', sans-serif;
  font-size: 40px;


}
p{
  font-family: 'Gilda Display', serif;;

}

table{
  font-family: 'IM Fell Double Pica', serif;
}
body {
  background-color: violet;
  width: 80%;
  margin: 0 auto;

}
.p-sites{
  position: relative;
  bottom: 110px;
  max-width:560px;
}
#castle-p{
  position: relative;
  bottom: 60px;
    max-width: 500px;
}

#profile-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.cent{
  text-align: center;
}


.site-imgs{
  width:200px;
  height:200px;
  border-color: bold green;
  padding-right: 45px;
s
}
@media only screen and (max-width: 768px) {
    {
        width: 100%;
    }
}

/* / */
/* .City {
    width: 90%;
    padding-left: 10px;
    margin: 10px auto;
} */




#city-img{
  width: 631px;
 height: 328px;
}
/* .City p {
  text-align: justify;
  position: relative;
  left: 10px;
} */
/* .language {
  width: 100%;
  height: auto;
}
.language h4 {
text-align: center;
}

.language table {
  border: 1px solid;
  /* border-collapse: collapse; */
  /* width: 80%;
  margin: 0 auto;
} */
th,td {
  width: 50%;
  /* padding: 10px; */
  border: 1px solid;
  /* border-collapse: collapse; */
}
.block-inline{
  display:inline-block;
}
/* .site-box {
  font-size:10px;
  font-style: normal;
} */
/* .site{
  width: 90%;
  margin:10px auto;
} */

/* .site p {
  text-align: justify;
  margin: auto; */
