h1 {
 font-family: 'Rammetto One', cursive;
}

h2 {
 font-family: 'Signika Negative', sans-serif;
 font-size: 40px;
}

p {
 font-family: 'Gilda Display', serif;
}

table {
 font-family: 'IM Fell Double Pica', serif;
}

body {
background-color: violet;
width: 80%;
margin: 0 auto;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

table  {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

th,td {
  padding: 10px;
  border: 1px solid;
  border-collapse: collapse;
}

.left {
  float: left;
}

.right {
  float: right;
}

.img-sites {
  margin-right: 0.5em;
}

.box-sizing {
  padding: 0.75em;
  box-sizing: border-box;
}

.districtsix, .parliamant, .castle {
  width: 30%;
  float: left;
}

@media (min-width: 780px;) {
  .box-sizing {
    width: 30%;
    float: left;
  }

  .container{
    width: 85%;
  }
  .img{
    float: left;
    margin: 2em;
  }
}






/*.City {
    width: 90%;
    padding-left: 10px;
    margin: 10px;
}

#city-img{
  width: 631px;
 height: 328px;
}
/* .City p {
  text-align: justify;
  position: relative;
  left: 10px;
} */

 /* .language {
  width: 100%;
  height: auto;
}
.language h4 {
text-align: center;
} */

 /* .box{
  float: right;
  box-sizing: border-box;
} */

 /* .site-box {
  font-size:10px;
  font-style: normal;
} */

 /* .site{
  width: 90%;
  margin:10px auto;
} */

 /* .site p {
  text-align: justify;
  margin: auto; */
